<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Grid_part_IV.css">
</head>
<body>
    <div class="container">
        <div class="box box-header">a</div>
        <div class="box box-body">b</div>
        <div class="box">c</div>
        <div class="box box-footer">d</div>
    </div>
</body>
</html>