<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Media_queries.css" />
    <link rel="stylesheet" href="../CSS/Normalize.css" />
  </head>
  <body>
    <div class="container">
      <div class="first-box">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita
          provident nobis, consequuntur quasi rerum ducimus est excepturi ad
          libero aut dignissimos dolorum cupiditate mollitia aspernatur facere
          tempora animi voluptatem odit?
        </p>
      </div>
      <div class="second-box">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque facilis
            rem quas! Non eos numquam delectus, ex doloremque perferendis velit
            nesciunt ullam aliquam incidunt recusandae vitae quibusdam
            reprehenderit, hic iste!
        </p>
      </div>
    </div>
  </body>
</html>
