.container{
    height: 100vh;
    border: 10px solid white;
    display: grid;
    grid-template-rows: repeat(4, 50fr);
    grid-template-columns: repeat(3, 30fr );
    justify-content: center; 
    align-content: center;
    gap: 10px;
}

.box{
    /* height: 5rem; */
    border-radius: 4px;
    background-color: gold;
}

.box-b{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}