.box{
    width: 600px;
    height: 200px;
    background: aqua;
    /* box-shadow: 10px 10px; moved the shadow 10px right and 10px down  */
    box-shadow: 10px -10px; /* moved the shadow 10px right and 10px up */
    /* shadow color*/
    box-shadow: 10px 10px grey;
    /* shadow softness */
    box-shadow: 10px 10px 30px grey;
    /* shadow right below the box */
    box-shadow: 0px 0px 30px grey;    /* goes all around the box*/
    /* shadow spread 10px */
    box-shadow: 0px 0px 30px 10px  grey;    
}
/* text-shadow */
.box h1::first-line{
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}